<html>
<head>
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/ProfilPage.css') }}">
{% endblock %}
</head>
<body>
    <div class="logo"></div>

<div class="wrapper">
	<h1>Who's Watching?</h1>
	<div class="profile-wrap">
		<div class="profile">
			<a href="/homepage">
				<div class="profile-icon profile1">
					<svg width="150" height="150" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" style="background:#86A546">
					  <g id="Page-1" fill="none" fill-rule="evenodd">
						<g id="Never-Users-Own-Profile" fill="#FCFDFF">
						  <g id="profile3" transform="translate(31 50)">
							<circle id="left-eye" cx="12" cy="12" r="12"/>
							<circle id="right-eye" cx="123" cy="12" r="12"/>				  
							  <path d="M89.5 66.67c13.55 0 27.1-5.93 40.66-17.78 1.3-.53 2.58-.2 3.87 1 1.3 1.17 1.3 2.7 0 4.54C119.5 67.48 104.67 74 89.5 74c-15.17 0-30-6.52-44.53-19.56-1.3-1.85-1.3-3.37 0-4.55 1.3-1.2 2.58-1.53 3.87-1C62.4 60.73 75.94 66.66 89.5 66.66z" id="smile">
							  </path>
						  </g>
						</g>
					  </g>
					</svg>
				</div>
			</a>
			<div class="profile-name">
				{{ id }}
			</div>
		</div>
		<div class="profile">
			<a href="/homepage">
				<div class="profile-icon profile4">	
				</div>
				<div class="profile-name">
					Kids
				</div>
			</a>
		</div>
	</div>
</div>
</body>
</html>